*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:arial ;
}
nav {
    background-color: #000444 ;
    padding: 20px 0;
    display: flex; /*sets the flexible length on flexible items*/
    align-items: center;
    justify-content: space-around;
}

/*the logo*/
nav span {
    
    font-size: 27px;
    color: white;
}


/* nav menu*/
.nav_menu ul { 
    display: flex;
    list-style: none;
}

 
.menu_item {
    margin-left: 60px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}

.menu_item a{
        text-decoration: none;
        color: white;
}

.menu_item:hover {
    background-color: #4e549e ;
}


header {
    padding: 7em 4em;
    text-align: center;
/*header background*/
    background-image: url(language2.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/*header text*/
 
/* the title of the header text*/   
.text h1 {
    font-size: 34px;
    color: rgb(251 95 47);
    margin:30px  auto;
    width: 40%;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    /*stroke on header title*/
    -webkit-text-stroke: 0.9px #eeeeee ;
    text-shadow: px 1px 1px #eeeeee;
    
}

/* header paragraph*/
.text p {
    font-size: 25px;
    width: 50%;
    margin: auto;
    font-weight: bold;
    color:rgba(0, 5, 68, 0.74);
    -webkit-text-stroke: 0.3px #eeeeee ;
    text-shadow: 2px 2px 2px #eeeeee;
    padding:10px 0 120px;
} 

/* Main Section */
#presentation {
    text-align: center;
    border-bottom: 3px solid #FB5E2E;
}
#headerpres {
    margin: 50px auto 50px;
    color: #FB5E2E;
    font-size: 34px;
    width: 35%;
    font-style: italic;
}
.paragraph1 {
    text-align: left;
    color: #000564;
    font-size:22px ;
    width: 60%;
    margin: 0 auto;
}
#presentation h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    color:#FB5E2E ;
}
#flags {
    margin: 10px 0 40px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

            /*Teachers section*/

#teachers {
       background-color: #FAF5F5;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;

}
#teachers .language {
    width: 45%;
}
.imgteachers{
   margin:auto;
}
.imgteachers img {
    border: 4px solid #000444;
    border-radius: 80%;
    margin: 45px auto 30px;
   display: block;
}
.headerteach {
    width:55%;
    margin: 15px auto ;
    font-size: 25px;
    color: #FB5E2E;
    text-align: center;

}
.paragraphteach {
    line-height: 23px;
    font-size: 21px;
    color: #000444;
    width: 55%;
    margin: 20px auto 15px ;
}
blockquote {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 19px;
    color: #000444d9;

}

#english {
    margin: 10px 0 30px;
}
#spanish {
    margin: 10px 0 30px;
}
.border{
    width: 2px;
    height: 250px;
    background-color: #FB5E2E;
}
                /*Service Section*/
#classes {
    text-align: center;
}
#classes h1 {
     font-style: italic;
    color:#FB5E2E ;
    font-size:35px ;
    margin: 55px auto 30px;
}
#classes p {
    color: #000444;
    font-size: 23px;
    text-align: left;
    width: 50%;
    margin: 10px auto;
}

#payment {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 80px;
}
.paymentbox  {
    padding: 25px;
    border: 1px solid #fb5e2e;
    border-radius: 3%;
}
.paymentbox:hover {
    background-color:#f7d1cd;
    border:1px solid #fb5e2e;
}

#payment h3 {
    font-size: 20px;
    color:#000444 ;
    margin-bottom: 14px;
    text-decoration: underline;

}
#payment p {
    font-size: 18px;
    line-height: 25px;
    color:#000444 !important ;
}

#services {
    text-align: center;
    margin-bottom: 70px;
}

#service {
    font-size: 30px;
    color:#FB5E2E ;
    margin: 80px 0 20px;
}
#services p {
    text-align: center;
    font-size: 22px;
    width: 70%;
    margin: 30px auto;
    color: #000444;
}
#specification {
    display: flex;
    flex-direction: column;
}
.specification   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px auto;
    color:#000444 !important;
    width: 50%;
    border: 1px solid #fb5e2e;
    border-radius: 1%;
}
.specification p {
    color: #090335b7;
    font-size: 17px !important;
    font-weight: bold;
}
.price {
    color: #090335b7 !important;
    font-weight: none;
}
.price:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Here ends the main part */


/*testimonials section */
.Testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 1em;
    /*background of the testimonials section*/
    background-size: cover;
    background-image: url(reviews_2.png);
    background-position: top; /*sets the starting position of the background pic*/
    background-repeat: no-repeat; /* sets if/how a background image will be repeated.*/

}


/* headline in testimonials section*/
.headline {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    color:#000343;
    -webkit-text-stroke:white 0.5px;
}

.headline h1 {
    margin-top: 60px;
    width: 40%;
}


/*here start all reviews area*/
.feedbacks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 110px auto  190px;
}

/* icons and names in feedbacks */
.icon_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.icon_name img {
    height: 60px;
    width: 60px;
}

.icon_name span {
    font-weight: bold;
}

.student{
    width: 30%;
    background-color:#FFFFFF;
    border-radius: 20px;
}

.student_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student_comment ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.student_comment span {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;

}

/* paragraph in student reviews*/
.student_comment p {
    width: 70%;
}
 

/*stars rating in feedbacks*/
li img { 
        height: 20px;
} 

/*here ends all reviews area*/


/* this is the footer*/
footer {
    background-color: #000444;
    color: rgba(256, 256, 256, 0.7);
}
#logo2 {
    color: white;
   text-align: center;
   padding-top: 30px;
   margin-bottom: 30px;
}
#footerflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 87%;
}
.footerheaders H3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.footerheaders {
    line-height: 26px;
    margin-bottom: 40px;
}

 
/* the copyright part*/

.copyright {
    background-color: rgba(0, 0, 0, 0.9);}

.copyright p {
    color:rgb(199, 192, 192);
    padding: 10px;
    margin-left: 60px;
}

.copyright a {
    text-decoration: none;
    color: whitesmoke;
}


        /*for mobile*/


@media(max-width:600px){



    /* Here starts the main section */

    #headerpres{
        font-size: 28px;
        width: 70%;
    }

    .paragraph1 {
          width: 75%;
          font-size: 20px;
    }
    /*teachers section*/

    #teachers {
        display: flex;
        flex-direction: columns;

    }

    #teachers .language {
        width: 100%;
    }

    .imgteachers img {
    margin: 25px auto 20px;
    }

    .headerteach {
    width:55%;
    margin: 24px auto ;
    text-align: center;
    font-size: 27px;
    }

    .paragraphteach {
    line-height: 25px;
    font-size: 22px;
   width: 80%;
    margin: 30px auto 20px ;
    padding-bottom: 10px;
    }
    blockquote    {
    font-size: 22px;
    border-bottom: 2px solid #FB5E2E ;
    margin-bottom: 20px;
    padding-bottom: 20px;
    }
    .border {
        display: none;
    }
    /*Classes Section*/

    #classes h1 {
    font-size:33px ;
    margin: 50px auto 30px;
    }
    #classes p {
    font-size: 22px;
    text-align: center;
    width: 80%;
    }

     #payment {
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     }

    .paymentbox {
    width: 80%;
    margin: 20px;
    }
    #payment h3 {
    font-size: 22px;
    color:#000444 ;
    margin-bottom: 14px;
    text-decoration: underline;
    }
    #payment p {
    color: #000444;
    font-size: 18px;
    line-height: 25px;
    color:white ;
    }
    #service {
    font-size: 30px;
    font-style: italic;
    width: 70%;
    margin: 30px auto;
    }
    #services p {
    font-size: 22px;
    width: 75%;
    margin: 0 auto;
    text-align: left;
    }
    #services > p:first-of-type {
        margin-bottom: 40px;
    }
    .specification {
    text-align: center;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
    padding: 20px 0;
    }
    .specification p {
        font-size: 18px !important;
    }
    /* here ends the main section */
    
    
    .feedbacks{
        flex-direction: column;
        align-items: center;   
         margin: 70px auto  140px;   
    }

    .student {
        width: 70%;
        margin-top: 20px;
    }

    .student_comment p {
        text-align: center;
    }

    .text h1 {
    font-size: 28px;
    width: 70%;
    }
    
    .text p {
    font-size: 26px;
    width: 80%;
    -webkit-text-stroke: 0.2px #eeeeee ;
    text-shadow: 1px 1px 1px #eeeeee; 
    padding-bottom: 20px;
    }

    .headline {
    font-size: 18px;
    -webkit-text-stroke:white 0.3px;
    }

    .headline h1 {
    width: 80%;
    margin-bottom: 10px;
    }

    .Testimonials {
        padding:0;
    }
    .nav_menu {
        display: none;
    }
    }
     .footerflex {
        margin: 0 auto;
        width: auto;
    }
    .copyright p  {
        margin: 0;
        padding: 10px;
    }
    
}