* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
    font-weight: bold;
}

body {
	background-image: backgroundimage.jpg;
	background-size: cover;

}
#classes {
	text-align: center;
}
#classes h1 {
	color:#FB5E2E ;
	font-size:35px ;
	margin: 30px auto 30px;
}
#classes p {
	color: #000444;
	font-size: 22px;
	width: 55%;
	margin: 20px auto;
}



#payment {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	margin-top: 80px;
}
.paymentbox  {
	background-color: #000444;
	padding: 25px;
	border: 2px none;
	border-radius: 3%;
}

#payment h3 {
	font-size: 18px;
	color:white ;
	margin-bottom: 14px;

}
#payment p {
	font-size: 15px;
	line-height: 25px;
	color:white ;
}

#services {
	text-align: center;
}

#service {
	font-size: 30px;
	color:#FB5E2E ;
	margin: 80px 0 20px;
}
#services p {
	text-align: center;
	font-size: 22px;
	width: 58%;
	margin: 30px auto;
	color: #000444;
}
#specification {

	display: flex;
	justify-content: center;
	column-gap: 100px;
	width: 50%;
	margin: 60px auto;
	color:#000444;
}
#specification  {
	font-size: 18px;
	line-height: 30px;
	padding: 20px;
	border: 3px solid #000444;
	border-radius: 5px;
}


