body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #000444 ;
    padding: 20px;
    display: flex;
    align-items: center;
}
nav span {
    margin-left: 50px;
    font-size: 30px;
    color: white;
}



.nav_menu ul { 
    display: flex;
    list-style: none;
    margin-left: 400px;
}
 
.nav_menu li {
    margin-left: 60px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}

.header_background {
    display: flex;
    background-image: url(language.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.text {
    
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 45%;
    text-align: center;  
    font-size: 36px;
    color:white;
    -webkit-text-stroke: 2px #00054486 ;
    text-shadow: 1px 1px 1px #00054486, 
               3px 3px 4px #00054486;
}

.text h1 {
    font-size: 40px;
}
.text p {
    left: 80%;

} 

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_top {
    margin-top: 40px;
    font-size: 18px;
    margin-left: 170px;
}

.main_top p {
    width: 80%;
}

.contact_us form {
    display: flex;
    flex-direction: column;
}

.contact_us input {
    margin-top: 20px;
    outline: none;
    height: 45px;
    border-radius: 5px;
    border-width: thin;
    border-style: solid;
    font-size: 17px;
}

select {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
    height: 45px;
    outline: none;
    font-size: 18px;
    width: 700px;
}

.contact_us textarea {
    height: 95px;
    font-size: 18px;
    outline: none;
}

 .submit {
 width: 180px;
 margin: 0 auto;
 background-color: #000444;
 color: white;
 text-transform: uppercase;
}
 .submit:hover {
     background-color:  #00054486 ;
 }

 footer {
    background-color: #000343;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(256, 256, 256, 0.8);
    margin-top: 30px;
}
 
.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footer_menu h2 {
    font-size: 15px;
    text-transform: uppercase;
}



.footer_menu ul {
    list-style: none;
    width: 33%;
}

.copyright {
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);}

.copyright p {
    color:rgb(199, 192, 192);
    margin-left: 20px;
}

.copyright a {
    text-decoration: none;
    color: whitesmoke;
}