body {
    margin: 0;
}

.Testimonials {
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 25px;
}

.Testimonials h1 {
    text-align: center;
    font-size: 40px;
    color:#000343;
    -webkit-text-stroke:white 0.5px;
}


.feedbacks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}


.icon_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.icon_name img {
    height: 60px;
    width: 60px;
}

.icon_name span {
    font-weight: bold;
}

.student{
    width: 30%;
    background-color:#FFFFFF;
    border-radius: 20px;
}

.student_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.student_comment ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.student_comment span {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;

}

.student_comment p {
    width: 70%;
}
 
li img { 
        height: 20px;
} 

footer {
    background-color: #000343;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(256, 256, 256, 0.8);
}
 
.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footer_menu h2 {
    font-size: 15px;
    text-transform: uppercase;
}



.footer_menu ul {
    list-style: none;
    width: 33%;
}

.copyright {
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);}

.copyright p {
    color:rgb(199, 192, 192);
    margin-left: 20px;
}

.copyright a {
    text-decoration: none;
    color: whitesmoke;
}

@media(max-width:770px){
    .feedbacks{
        flex-direction: column;
        align-items: center;
        
    }

    .student {
        width: 70%;
        margin-top: 20px;
    }

    .student_comment p {
        text-align: center;
    }


    .footer_menu {
        flex-direction: column;
        align-items: center;
    }
    .footer_menu ul{
        text-align: center;
        width: 90%;
    }
}